<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-brand">
                <a href="#" class="logo"><img src="https://i.postimg.cc/hvcfT8PK/logo-blue.png" alt="Tourly logo"></a>
                <p class="footer-text">Your passport to adventure awaits!</p>
            </div>
            <div class="footer-contact">
                <h4 class="contact-title">Contact Us</h4>
                <p class="contact-text">Feel free to contact us!</p>
                <ul>
                    <li class="contact-item">
                        <ion-icon name="call-outline"></ion-icon>
                        <a href="tel:+01123456790" class="contact-link">+01 (123) 456 7890</a>
                    </li>
                    <li class="contact-item">
                        <ion-icon name="mail-outline"></ion-icon>
                        <a href="mailto:info.tourly.com" class="contact-link">info.tourly.com</a>
                    </li>
                    <li class="contact-item">
                        <ion-icon name="location-outline"></ion-icon>
                        <address>3145 Koontz, California</address>
                    </li>
                </ul>
            </div>
            <div class="footer-form">
                <p class="form-text">Subscribe to our newsletter for more update & news!!</p>
                <form action="#" class="form-wrapper">
                    <input type="email" name="email" class="input-field" placeholder="Enter your email" required>
                    <button type="submit" class="btn btn-secondary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">&copy; 2025 <a href="https://codepen.io/leonam-silva-de-souza" target="_blank">ULTRA CODE </a>. All rights reserved</p>
            <ul class="footer-bottom-list">
                <li><a href="#" class="footer-bottom-link">Privacy Policy</a></li>
                <li><a href="#" class="footer-bottom-link">Terms & Conditions</a></li>
                <li><a href="#" class="footer-bottom-link">FAQ</a></li>
            </ul>
        </div>
    </div>
</footer>
